.heading {
    background-color: #ffffff;
    max-height: 80px;
    width: 100%;
    border-bottom: 2px solid #cccccc;
    margin-bottom: 20px;
}

.topbox {
    width: 960px;
    margin: 0 auto;
}

.name {
    background-color: #4aaaa5;
    text-align: center;
    padding: 20px;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 300px;
    height: 40px;
    font-size: 35px;
}

.nav {
    float: right;
    position: relative;
    bottom: 50px;
}

.boxOne, .boxTwo, .boxThree {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #cccccc;
    float: right;
    padding-left: 10px;
    
}

.boxTwo, .boxThree {
    padding-right: 10px;
}

.boxTwo {
    border-left: #4aaaa5 2px solid;
    border-right: #4aaaa5 2px solid;
}

body {
    background-color: #eeeeee;
}

.container {
    max-width: 956px;
    height: 400px;
    margin: 0 auto;
    border: #dddddd 2px solid;
    background-color: #ffffff;
    margin-bottom:30px;

}
.article {
    padding: 20px;
}
.content {
    border-top: #4aaaa5 2px solid;
    padding-top: 20px;
    margin-top: 10px;
}
.burger {
    width: 150px;
    height: auto;
    float: left;
    margin-right: 10px;
}

h1 {
    font-size: 35px;
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer {
    background-color: #666666;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-top: #4aaaa5 8px solid;
    height: 70px;
    width: 100%;
    

}